// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letters {
  display: flex;
}

span {
  background-color: orange;
  color: black;
  font-weight: bold;
  font-family: 'Courier';
  margin: 0 auto;
  font-size: 40px;
  padding: 10px;
  width: 46px;
  text-align: center;
}
